body {
    font-family: 'IBM Plex Sans', sans-serif;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    height: 100vh;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
}

/* styles for navigation bar*/
.nav-bar {
    background-color: #000000;
    padding: 88px 0 42px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.nav-bar ul {
    list-style-type: none;
    padding-left: 0;
}

.nav-bar ul li {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav-bar__anchor {
    text-decoration: none;
}

.nav-bar__button {
    border: none;
    background-color: #000000;
    width: fit-content;
    cursor: pointer;
}

.nav-bar__element {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 16px;
    font-weight: 500;
}
.nav-bar__element:hover {
    opacity: 1;
}

.nav-bar__active {
    border-right: 4px solid rgba(255, 255, 255, 0.4);
}

/* styles for header */
.header {
    background: #FFFFFF;
    box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1), 0px 4px 20px rgba(0, 0, 0, 0.08);
    padding: 20px 40px 20px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__action {
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    padding: 10px 31px 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    margin-left: 10px;
}

.header__interval {
    display: flex;
    align-items: center;
}

.header__label {
    font-size: 16px;
}

.header__date {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    opacity: 0.9;
    border: 1px solid #000000;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.08);
    outline: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 140px;
}

.header__date-left {
    border-radius: 40px 0 0 40px;
    padding-left: 25px;
    padding-right: 44px;
    margin-left: 6px;
}

.header__date-right {
    border-radius: 0 40px 40px 0;
    padding-right: 49px;
    padding-left: 20px;
}

.header__date-wrapper {
    position: relative;
}

.header__date-icon {
    position: absolute;
    top: 25%;
    right: 22px;
}

/* styles for graphics */
.graphs {
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 20px 30px;
}

.graphs__typography {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.graphs__card {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.08);
    padding: 10px;
    border-radius: 10px;
}

.graphs__objects-wrapper {
    max-width: 440px;
}


.graphs__objects {
    display: flex;
    flex-wrap: wrap;
}

.graphs__objects div {
    background-color: rgba(255, 77, 79, 0.2);
    padding: 5px 20px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 25px;
}

.graphs__axis {
    stroke: rgba(0, 0, 0, 0.2);
}

.graphs__points {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.6;
}

.graphs__rectangle-good {
    fill: #5D9D38;
}

.graphs__rectangle-normal {
    fill: #FFB300;
}

.graphs__rectangle-bad {
    fill: #FF4D4F;
}

/* styles for search form*/
.search-form {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 20px 38px 20px 30px;
    display: flex;
    justify-content: space-between;
}

.search-form__input {
    flex-grow: 1;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 3px 8px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    outline: none;
    font-size: 16px;
    line-height: 25px;
    height: 50px;
    font-weight: 400;
    color: #000000;
    opacity: 0.5;
}

.search-form__search-button {
    background-color: #000000;
    border-radius: 40px;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    padding: 12.5px 40px;
}
